src/main/java/Ejercicio1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="nota">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="para"/>
                <xs:element ref="de"/>
                <xs:element ref="titulo"/>
                <xs:element ref="contenido"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="para" type="xs:string"/>
    <xs:element name="de" type="xs:string"/>
    <xs:element name="titulo" type="xs:string"/>
    <xs:element name="contenido" type="xs:string"/>
</xs:schema>
